# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.pyo

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
instance/
.local/
.media/
.static/
*.sqlite3

# Environment Variables
.env

# Virtual Environments
venv/
env/
ENV/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Node.js
node_modules/

# Coverage Reports
htmlcov/
.coverage
.tox
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Testing
*.pytest_cache
test/

# Logs
*.log
logs/

# Static Files
staticfiles/
media/

# Migrations
*/migrations/*
!*/migrations/__init__.py
